// Mixins
// Project: WFP Editorial Guide
// Author: Matthew Morek (me@matthewmorek.com) / James Home (james@jameshome.co)
// URL: http://matthewmorek.com

@mixin highlight($border-color) {
  background-color: #fafafa;
  padding: 0.5em 1em;
  border-left: 6px solid $border-color;
  border-radius: 2px;
  font-size: 0.875em;
  line-height: 1.4;
  margin: 1em 0;
  > * {
    margin: 0.25em 0;
  }
}

// Transition Mixins
@mixin transition-property($property...) {
  transition-property: $property;
}
@mixin transition-duration($duration...) {
  transition-duration: $duration;
}
@mixin transition-delay($delay...) {
  transition-delay: $delay;
}
@mixin transition-timing-function($timing...) {
  transition-timing-function: $timing;
}
@mixin transition($properties...) {
  transition: $properties;
}

@mixin no-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin menu--group() {
  margin-bottom: 0.5rem;
  padding: 0;
}

@mixin menu--item() {
  font-size: 1rem;
  padding: 0 1rem;
  margin: 0;
  display: block;
  border: none;
}

@mixin menu--link() {
  color: $primary;
  &:hover {
    color: $secondary;
  }
}

@mixin notice($color) {
  background-color: #fafafa;
  padding: 0.5em 1em;
  border-left: 6px solid $color;
  border-radius: 2px;
  font-size: 0.875em;
  line-height: 1.4;
  margin: 1em 0;
  > * {
    margin: 0.25em 0;
  }
}