// Mixins
// Project: WFP Editorial Guide
// Author: Matthew Morek (me@matthewmorek.com) / James Home (james@jameshome.co)
// URL: http://matthewmorek.com

@mixin highlight($border-color) {
  background-color: #fafafa;
  padding: 0.5em 1em;
  border-left: 6px solid $border-color;
  border-radius: 2px;
  font-size: 0.875em;
  line-height: 1.4;
  margin: 1em 0;
  > * {
    margin: 0.25em 0;
  }
}