<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    {% include header.html %}

    <section class="pure-g wrapper">
      <div class="pure-u-1 pure-u-md-1-4 l-box sidebar">
        {% include sidebar.html %}
      </div>
      <div class="pure-u-1 pure-u-md-3-4 l-box">
        {{ content }}
      </div>
    </section>

    {% include footer.html %}

    <script src="{{base}}/js/lib/jquery.js"></script>
    <script src="{{base}}/js/lib/fastclick.js"></script>
    <script src="{{base}}/js/lib/responsive-nav.js"></script>
    <script src="{{base}}/js/plugins.js"></script>
    <script src="{{base}}/js/main.js"></script>
    {% if page.path == 'component-1-masthead.md' %}
    <script>
      var navExample = responsiveNav('#js-example-menu', {
        customToggle: "js-example-menu-trigger",
        navClass: "masthead--menu",
        openPos: "absolute",
        closedPos: "static"
      });
    </script>
    {% else if page.path =='reference-1-wordindex.md' || page.path =='reference-1-wordindex.md' %}
    <script src="{{base}}/js/scroller.js"></script>
    {% endif %}
  </body>
</html>
